<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.springframework.org/security/tags" xmlns:th="http://www.thymeleaf.org" class="no-js">

<head th:include="template/commoncss :: commoncss"></head>
<link type="text/css" rel="stylesheet" th:href="@{/resources/style/select2.css}"/>
<link type="text/css" rel="stylesheet" th:href="@{/resources/style/bootstrap-modal-bs3patch.css}"/>
<link type="text/css" rel="stylesheet" th:href="@{/resources/style/bootstrap-modal.css}"/>
<link type="text/css" rel="stylesheet" th:href="@{/resources/style/bootstrap-datepicker.min.css}"/>
<link type="text/css" rel="stylesheet" th:href="@{/resources/style/dataTables.bootstrap.css}" />


<body>

<!-- start: HEADER -->
<div class="navbar navbar-inverse navbar-fixed-top" th:replace="template/commonheader :: commonheader"></div>
<!-- end: HEADER -->

<!-- start: MAIN CONTAINER -->
<div class="main-container">
    <div class="navbar-content">

        <!-- start: SIDEBAR -->
        <div class="main-navigation navbar-collapse collapse">

            <!-- start: MAIN MENU TOGGLER BUTTON -->
            <div class="navigation-toggler">
                <i class="clip-chevron-left"></i> <i class="clip-chevron-right"></i>
            </div>
            <!-- end: MAIN MENU TOGGLER BUTTON -->

            <!-- start: MAIN NAVIGATION MENU -->
            <ul class="main-navigation-menu" th:replace="template/menu :: menu"></ul>
        </div>
        <!-- end: SIDEBAR -->
    </div>

		<!-- start: PAGE -->
		<div class="main-content">
        	
        	<div class="container">
        	
			<div class="row" th:replace="admin/user/page-header :: userPageheader"></div>

            <div class="btn-bar row">
            
                <a class="btn btn-default btn-sm active tooltips" id="new" th:href="@{/userProfile/add}" data-placement="top"
                   sec:authorize="hasAnyAuthority('ADMIN_LEVEL', 'SYSTEM_LEVEL')"
                   data-original-title="Add"> <i class="clip-plus-circle-2  btn-new"></i> New
                </a>
                <a class="btn btn-default btn-sm active tooltips" id="save" data-placement="top" data-original-title="Save"
                   sec:authorize="hasAnyAuthority('ADMIN_LEVEL', 'SYSTEM_LEVEL')"
                   onclick="document.getElementById('userAddBtn').click();"> <i class="clip-checkmark-circle-2 btn-save"></i> Save
                </a>
                <a class="btn btn-default btn-sm active tooltips" id="delete" th:href="@{/userProfile/delete(id=${user.id})}"
                   sec:authorize="hasAnyAuthority('ADMIN_LEVEL', 'SYSTEM_LEVEL')"
                   th:disabled="${user.id} == null ? 'disabled'" data-placement="top" data-original-title="Delete"> <i class=" clip-cancel-circle-2 btn-delete"></i> Delete
                </a>
                <a class="btn btn-default btn-sm active tooltips" id="cancel" th:href="@{/userProfile/}" data-placement="top"
                   data-original-title="Back"> <i class="clip-arrow-left-2 "></i> Cancel
                </a>

            </div>

            <!-- start: PAGE CONTENT -->
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">

                        <div class="panel-heading">
                            <i class="clip-user"></i> User - Create
                        </div>
                        <div class="panel-body">

                            <div th:replace="template/messageview :: message"></div>                   			

                            <form method="POST" th:action="@{/userProfile/save}" th:object="${user}" id="userProfileForm">
                                
                                <input type="hidden" th:field="*{id}" id="userId" name="userId"/>
                                <input type="hidden" th:field="*{version}"/>
                                
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label"> Title </label>
                                            <input type="text" placeholder="Eg: Mr." th:field="*{userTitle}" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label"> User Level <span class="symbol required"></span> </label>
                                            <select th:field="*{userLevel}" class="search-select" style="width: 100%;">
                                                <option value="">&nbsp;</option>
                                                <option th:each="userLevel : ${user.userLevels}" th:value="${userLevel}" th:text="${userLevel.name}"></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label"> Name <span class="symbol required"></span> </label>
                                            <input type="text" placeholder="Eg:Peter" th:field="*{fullName}" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
							            <div class="form-group">
							                <label class="control-label"> Personal Code </label>
							                <input type="text" placeholder="Eg:Code 123" th:field="*{personalCode}" class="form-control">
							            </div>
							        </div>
                                </div>
								<div class="row">
                                  	<div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label"> Address </label>
                                            <textarea th:field="*{address}" placeholder="Eg:No.45,Colombo" class="form-control"></textarea>
                                        </div>
                                    </div>
							        <div class="col-md-6">
							            <div class="form-group">
							                <label class="control-label"> Notes </label>
							                <textarea th:field="*{notes}" placeholder="Other Note" class="form-control"></textarea>
							            </div>
							        </div>
							    </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="tabbable">

                                            <ul id="myTab" class="nav nav-tabs tab-bricky">
                                                <li class="active"><a href="#usersLoginTab" data-toggle="tab"> Login </a></li>
                                            </ul>

                                            <div class="tab-content">                                            

                                                <div class="tab-pane" id="usersLoginTab">
                                                    <div th:replace="admin/user/tab/login-tab :: userLoginTabFragment"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="visibility: hidden;">
                                    <button id="userAddBtn" type="submit"></button>
                                </div>
                        	</form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
<!-- end: PAGE -->
<!-- end: MAIN CONTAINER -->

<!-- start: FOOTER -->
<div class="row" th:replace="template/footer :: footer"></div>
<!-- end: FOOTER -->

<!-- start: MAIN JAVASCRIPTS -->
<div th:include="template/commonjs :: commonjs"></div>
<!-- end: MAIN JAVASCRIPTS -->


<!-- start: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
<script type="text/javascript" th:src="@{/resources/script/libs/jquery.validate.min.js}"></script>
<script type="text/javascript" th:src="@{/resources/script/libs/ui-button/bootstrap-switch.min.js}"></script>
<script type="text/javascript" th:src="@{/resources/script/libs/select2.min.js}"></script>
<script type="text/javascript" th:src="@{/resources/script/libs/bootstrap-modal.js}"></script>
<script type="text/javascript" th:src="@{/resources/script/libs/bootstrap-datepicker.min.js}"></script>
<script type="text/javascript" th:src="@{/resources/script/libs/bootstrap-modalmanager.js}"></script>
<script type="text/javascript" th:src="@{/resources/script/libs/jquery.spring-friendly.js}"></script>
<script type="text/javascript" th:src="@{/resources/script/libs/moment.min.js}"></script>
<script type="text/javascript" th:src="@{/resources/script/libs/jquery.dataTables.js}"></script>
<script type="text/javascript" th:src="@{/resources/script/libs/dataTables.bootstrap.min.js}"></script>

<script type="text/javascript" th:src="@{/resources/script/app/util/focus-validation-util.js}"></script>
<script type="text/javascript" th:src="@{/resources/script/app/util/common-component-util.js}"></script>
<script type="text/javascript" th:src="@{/resources/script/app/util/focus-button-util.js}"></script>

<script type="text/javascript" th:src="@{/resources/script/app/admin/user/init.js}"></script>
<script type="text/javascript" th:src="@{/resources/script/app/admin/user/add-view.js}"></script>

<!-- end: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->

<script th:inline="javascript">
	
    var thymeLeafUserCredentials = [[${userDTO.userCredentialDTO}]];
    var thymeLeafUserPassword = [[${generatePassword}]];
    
</script>
</body>
</html>

