<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<div class="row" th:fragment="pageheader">
    <div class="col-sm-12">
        <!-- start: PAGE TITLE & BREADCRUMB -->
        <ol class="breadcrumb" >
		    <li>
		        <i class="clip-home-3"></i>
		        <a th:href="@{/dashboard}">Home</a>
		    </li>
		    <li class="active">Dashboard</li>
		</ol>
        <div class="page-header">
            <h1>Dashboard <small>overview &amp; stats </small></h1>
        </div>
        <!-- end: PAGE TITLE & BREADCRUMB -->
    </div>
</div>

