<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" class="no-js">
<!-- start: CSS REQUIRED FOR THIS PAGE ONLY -->
<head th:include="template/commoncss :: commoncss"></head>

<div th:fragment="overView">
    <div th:object="${user}">
        <!-- start: PAGE CONTENT -->
        <div th:replace="template/messageview :: message"></div>
        <div class="row">
            <div class="col-sm-5 col-md-5">
                <div class="user-left">
                    <div class="center">
                        <h4 th:text="*{fullName}" id="displayName"></h4>
                    </div>
                    <div class="center">
                        <div class="fileupload fileupload-new" data-provides="fileupload">
                            <div class="user-image">
                               <img alt="my-avatar" th:src="@{../restapi/users/my-avatar?id=} + *{id}" class="circle-img" width="150px" height="150px">
                            </div>
                        </div>
                    </div>
                    <hr>
                    <table class="table table-condensed table-hover">
                        <thead>
                        <tr>
                            <th colspan="3">Contact Information</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Email:</td>
                            <td><a href="" th:text="*{emailAddress}"></a></td>
                        </tr>
                        <tr>
                            <td>Phone:</td>
                            <td th:text="*{telephone1}"></td>
                        </tr>
                        <tr>
                            <td>Address</td>
                            <td th:text="*{address}"></td>
                        </tr>
                        </tbody>
                    </table>
                    <table class="table table-condensed table-hover">
                        <thead>
                        <tr>
                            <th colspan="2">General information</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>User Level</td>
                            <td><span class="label label-sm label-info" th:text="*{userLevel}"></span></td>
                        </tr>
                        </tbody>
                    </table> 
                </div>
            </div>
            <div class="col-sm-7 col-md-7">
                <div class="panel panel-white">
                    <div class="panel-heading">
                        <i class="clip-menu"></i> Additional information
                        <div class="panel-tools">
                            <a class="btn btn-xs btn-link panel-collapse collapses" href="#"> </a> 
                            <a class="btn btn-xs btn-link panel-refresh" href="#"> <i class="fa fa-refresh"></i> </a>
                            <a class="btn btn-xs btn-link panel-close" href="#"> <i class="fa fa-times"></i> </a>
                        </div>
                    </div>
                    <div class="panel-body">  
                        <table class="table table-condensed table-hover">
	                        <thead>
		                        <tr>
		                            <th colspan="1">Business Information</th>
		                        </tr>
	                        </thead>
	                        <tbody>
		                        <tr class="user">
		                            <td > Personal Code </td>
		                            <td th:text="*{personalCode}"> </td>
		                        </tr>
	                        </tbody>
	                    </table> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>

