<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<!-- start: HEADER -->
<div class="navbar navbar-inverse navbar-fixed-top" th:fragment="commonheader">
    
    <!-- start: LOADING PROGRESS BAR-->
    <div id="loader" class="progress progress-striped active loadprogress">
        <div class="progress-bar loadprogress-bar" role="progressbar" aria-valuenow="100"
             aria-valuemin="0" aria-valuemax="100">
        </div>
    </div>
    <!-- END: LOADING PROGRESS BAR--->
    
        <!-- start: TOP NAVIGATION CONTAINER -->
        <div class="container">
            <div class="navbar-header">
            <div class="navbar-tools visible-xs">
                <!-- start: TOP NAVIGATION MENU -->
                <ul class="nav navbar-right">   
                                   
                    <!-- start: USER DROPDOWN -->
                    <li class="dropdown current-user">
                        <a data-toggle="dropdown" data-hover="dropdown" class="dropdown-toggle" data-close-others="true" href="#">
                            <span class="username" th:text="${T(com.matrix.sksale.util.AuthenticationUtil).getUserName()}" ></span>
                            <i class="clip-chevron-down"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a th:href="@{/profile/myaccount}">
                                    <i class="clip-user-2"></i> &nbsp;My Profile
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a th:href="@{/logout}">
                                    <i class="clip-exit"></i> &nbsp;Log Out
                                </a>
                            </li>
                        </ul>
                     </li>
                     <!-- end: USER DROPDOWN -->
                     
                </ul>
                <!-- end: TOP NAVIGATION MENU -->
            </div>
                <!-- start: RESPONSIVE MENU TOGGLER -->
                <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
	                <span class="clip-list-2"></span>
	            </button>
                <!-- end: RESPONSIVE MENU TOGGLER -->
                
                <!-- start: LOGO -->
                <a class="navbar-brand" th:href="@{/}">SK International</a>
                <!-- end: LOGO -->
                
            </div>
            
            <div class="navbar-tools hidden-xs">
                <!-- start: TOP NAVIGATION MENU -->
                <ul class="nav navbar-right">   
                                   
                    <!-- start: USER DROPDOWN -->
                    <li class="dropdown current-user">
                        <a data-toggle="dropdown" data-hover="dropdown" class="dropdown-toggle" data-close-others="true" href="#">
                            <span class="username" th:text="${T(com.matrix.sksale.util.AuthenticationUtil).getUserName()}" ></span>
                            <i class="clip-chevron-down"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a th:href="@{/profile/myaccount}">
                                    <i class="clip-user-2"></i> &nbsp;My Profile
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a th:href="@{/logout}">
                                    <i class="clip-exit"></i> &nbsp;Log Out
                                </a>
                            </li>
                        </ul>
                     </li>
                     <!-- end: USER DROPDOWN -->
                     
                </ul>
                <!-- end: TOP NAVIGATION MENU -->
            </div>
            
        </div>
        <!-- end: TOP NAVIGATION CONTAINER -->
    </div>
</html>