<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" class="no-js" >

<head th:fragment="commoncss">
	<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    
    <title>FOCUS</title>


    <link type="text/css" rel="stylesheet" th:href="@{//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700|Raleway:400,100,200,300,500,600,700,800,900/}" />
    <link type="text/css" rel="stylesheet" th:href="@{/resources/style/bootstrap.min.css}" />
    <link type="text/css" rel="stylesheet" th:href="@{/resources/style/font-awesome.min.css}" />
    <link type="text/css" rel="stylesheet" th:href="@{/resources/style/clip-font.css}" />
    <link type="text/css" rel="stylesheet" th:href="@{/resources/style/all.css}" />
    <link type="text/css" rel="stylesheet" th:href="@{/resources/style/perfect-scrollbar.min.css}" />
    <link type="text/css" rel="stylesheet" th:href="@{/resources/style/sweetalert.css}" />
    <link type="text/css" rel="stylesheet" th:href="@{/resources/style/main.min.css}" />
    <link type="text/css" rel="stylesheet" th:href="@{/resources/style/mobile.css}" />
    <link type="text/css" rel="stylesheet" th:href="@{/resources/style/main-responsive.min.css}" />
    <link type="text/css" rel="stylesheet" media="print" th:href="@{/resources/style/print.min.css}" />
    <link type="text/css" rel="stylesheet" id="skin_color" th:href="@{/resources/style/light.min.css}" />
    <link type="text/css" rel="stylesheet" id="skin_color_common" th:href="@{/resources/style/common.css}"/>
    <link type="text/css" rel="stylesheet" id="skin_color_common_custom" th:href="@{/resources/style/custom-font.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/resources/style/fileinput/fileinput.min.css}" />
    <link type="text/css" rel="stylesheet"  th:href="@{/resources/style/datatables.min.css}"/>
    <link type="text/css" rel="stylesheet"  th:href="@{/resources/style/responsive.dataTables.min.css}"/>
    <link type="text/css" rel="stylesheet"  th:href="@{/resources/style/rowReorder.dataTables.min.css}"/>

</head>