<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml"
      class="no-js">

<!-- start: MAIN NAVIGATION MENU -->
<ul class="main-navigation-menu" th:fragment="menu">

    <li>
		<!--active open--> 
		<a th:href="@{/dashboard}" sec:authorize="hasAnyAuthority('ADMIN_LEVEL')">
			<i class=" clip-grid "></i> 
			<span class="title"> Dashboard </span><span class="selected"></span>
		</a>
	</li>

    <!-- MENU : Setting-->
	<li>
		<a href="javascript:void(0)" sec:authorize="hasAnyAuthority('ADMIN_LEVEL')">
			<i class="clip-cog-2"></i> <span class="title">Users</span>
			<i class="icon-arrow"></i> <span class="selected"></span>
		</a>
		<ul class="sub-menu">
			<li>
				<a th:href="@{/userProfile/}" sec:authorize="hasAnyAuthority('ADMIN_LEVEL')">
					<i class="clip-user"></i> <span class="title">User</span>
				</a>
			</li>
		</ul>
	</li>
	<li>
		<a href="javascript:void(0)" sec:authorize="hasAnyAuthority('ADMIN_LEVEL', 'GENERAL_USER')">
			<i class="clip-cog-2"></i> <span class="title">Sales</span>
			<i class="icon-arrow"></i> <span class="selected"></span>
		</a>
		<ul class="sub-menu">
			<li>
				<a th:href="@{/vehicle-sale/}" sec:authorize="hasAnyAuthority('ADMIN_LEVEL', 'GENERAL_USER')">
					<i class="clip-user"></i> <span class="title">Vehicle / Machine</span>
				</a>
			</li>
		</ul>
	</li>
	<li>
		<a href="javascript:void(0)" sec:authorize="hasAnyAuthority('ADMIN_LEVEL')">
			<i class="clip-cog-2"></i> <span class="title">Reports</span>
			<i class="icon-arrow"></i> <span class="selected"></span>
		</a>
		<ul class="sub-menu">
			<li>
				<a th:href="@{/report/sale/}" sec:authorize="hasAnyAuthority('ADMIN_LEVEL')">
					<i class="clip-user"></i> <span class="title">Sale Report</span>
				</a>
			</li>
		</ul>
	</li>
</ul>
<!-- end: MAIN NAVIGATION MENU -->
</html>
