/*delete button icon color */

.btn-delete {
    color: #b33426;
}

/*save  button icon color */

.btn-save {
    color: #449d44;
}

/*new button icon color */

.btn-new {
    color: #4d8189;
}

.btn-history {
    color: #800040;
}

.btn-confirm {
    color: #337ab7;
}

.btn-receive {
    color: #5cb85c;
}

.btn-resent {
    color: #569099;
}

/*data table width*/

.defalut-w {
    width: 100%;
}


/*button bar*/

.btn-bar {
    float: left;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 15px;
}

.btn-bar-mini {
    float: left;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
}


/* message view align */

.message-view {
    padding-left: 15px;
    padding-right: 15px;
}


/*anchor tag disable*/

a[disabled],
a[disabled]:hover {
    pointer-events: none;
}

.dataTables_filter {
    float: right;
}

.dataTables_paginate {
    float: right;
}

.dataTables_scroll {
    overflow: auto;
}

.loadprogress {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    background-color: rgb(249, 249, 249);
}

.loadprogress-bar {
    border-radius: 25px;
    width: 500px;
    height: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: #2d4259;
    opacity: 1 !important;
    margin: -10px 0 0 -250px;
}

.ajaxprogress-bar {
    border-radius: 25px;
    width: 257px;
    height: 20px;
    position: fixed;
    top: 50%;
    left: 60%;
    background-color: #2d4259;
    opacity: 1 !important;
    margin: -10px 0 0 -250px;
}

.progress-bar {
    border-radius: 20px !important;
}

#tbl_workOrder_task_list {
    table-layout: auto;
    width: auto;
    overflow-y: auto;
}


/********************************************/


/* Modal Sections */


/********************************************/

#woTaskGroupWizardModal {
    height: auto;
    width: 900px;
    overflow-y: auto;
}

.large-modal {
    /*margin-left: 0px;*/
    left: 20% !important;
    right: 20% !important;
    margin-left: -250px;
    width: 500px;
    border-radius: 15px;
    /*margin-top: 0px !important;*/
    /*height: 700px !important;*/
    /*bottom: 10% !important;*/
    /*top: 10% !important;*/
    /*position: fixed !important;*/
}

.container-modal { 
    left: 50% !important;
    right: auto;
    margin-left: -500px !important;
    width: 1000px !important;
    border-radius: 15px; 
}

.medium-modal {
    left: 50% !important;
    right: 10% !important;
    margin-top: -60px !important;
    height: 684px !important;
    bottom: 10%;
    top: 10% !important;
    position: fixed !important;
    width: 650px !important;
}


/*display None*/

.none {
    display: none;
}

#sm-trigger-add-modal {
    left: 50% !important;
    right: 10% !important;
    margin-top: -60px !important;
    height: 684px !important;
    bottom: 10%;
    top: 10% !important;
    position: fixed !important;
    width: 650px !important;
}

.panel-default>.panel-heading+.panel-collapse>.panel-body {
    border-top-color: #ddd;
    border-left: 1px solid #eee !important;
    border-right: 1px solid #eee !important;
    border-bottom: 1px solid #eee !important;
}

.nav-tabs-padding-top {
    padding-top: 20px;
}


/* set table padding  */

.table>tbody>tr>td {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.checkbox,
.radio {
    position: relative;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

.checkbox-center>icheckbox_minimal-grey {
    position: relative;
    display: block;
    margin-top: 0;
}

[class*="icheckbox_"],
[class*="iradio_"],
[class^="icheckbox_"],
[class^="iradio_"] {
    float: left !important;
    margin: 0 5px 0 20px !important;
}


/* delete confirm model */

.delete-modal {
    margin: 0 auto !important;
    transform: translateX(-50%);
    top: 40% !important;
    /*transform: translateY(-50%); */
}


/*Div border */

#divTaskListTable,
#divAssetTaskGroupListTable,
#divTaskGroupListTable {
    border-radius: 5px;
    border: 1px solid #82a5ad;
    /*padding: 20px;*/
    /*width: 200px;*/
    /*height: 150px;*/
}

.th-center {
    text-align: center;
}

.file-input-icon {
    top: -34px;
    float: right;
    right: 34px;
}


/* Google TimeLine */

.ggl-tooltip {
    border: 1px solid #E0E0E0;
    font-family: Arial, Helvetica;
    padding: 6px 6px 6px 6px;
    width: 200px;
}

.ggl-tooltip span {
    font-weight: bold;
}

.timeline {
    width: 800px;
    height: 100px;
}

.btn-top {
    vertical-align: top !important;
}

.delete-center-modal {
    width: 300px !important;
    bottom: auto;
    right: auto;
    margin-left: -150px !important;
}

th.dt-center, td.dt-center {
    text-align: center;
}

.dataTable td, .dataTable th {
    display: table-cell;
    padding: 2px 15px 2px 15px;
    white-space: nowrap;
    text-overflow: ellipsis;
    /*max-width: 250px;*/
    width: inherit;
    box-sizing: border-box;
    overflow-y: hidden;
    overflow-x: visible;
}

.table .first-th {
    max-width: 50px;
    width: 50px !important;
}

.table .last-th {
    max-width: 80px;
    width: 80px !important;
}

#emp_availability_tbl>tbody>tr>td {
    max-width: 825px !important;
}

.modal-body .dataTable td {
    max-width: 78px !important;
}

.dataTable .last-col {
	/*max-width: 50px;
	min-width: 50px;*/
	width: 50px;
	
}

.dataTable .first-col {
	/*max-width: 35px;
	min-width:35px;*/
	width: 35px;
}

.table .first-th {
    max-width: 50px;
    width: 50px !important;
}

.table .last-th {
    max-width: 80px;
    min-width:80px;
    width: 80px !important;
}

.table .last-th-x {
    max-width: 50px;
    min-width:50px;
    width: 50px !important;
}

.table .last-th-2x {
    max-width: 75px;
    min-width:75px;
    width: 75px !important;
}

.table .last-th-3x {
    max-width: 100px;
    min-width:100px;
    width: 100px !important;
}

.table .last-th-4x {
    max-width: 125px;
    min-width:125px;
    width: 125px !important;
}

/*.modal{
	z-index:999 !important;
}
.modal-backdrop{
	z-index:957 !important;
}*/

#loader,
.progress-bar {
    z-index: 99999 !important;
    
}

.nav-tabs {
    overflow-x: auto;
    overflow-y: hidden;
    display: -webkit-box;
    display: -moz-box;
}

.nav-tabs>li {
    float: none;
}


#loader, .progress-bar {
    z-index: 99999 !important;
}
/*.input-clear{
	color:#30465E !important;
	border-color:#D5D5D5;
	border-left:0px solid #000000 !important;
	background-color: #EEEEEE;
}*/
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
    height:1px;
}

.drp-btn{
   text-overflow: initial !important;
   overflow-y: visible !important;
   overflow-x: visible !important;
}



.wrapper {
    
    margin:0 auto;
    overflow:hidden;
	margin-left: 25px;
	margin-right: 25px;
  	
}

.list {
    /*position:absolute;
    left:0px;
    top:0px;
    margin-top:0px;*/
  	min-width:1500px;
  	
    
}

.list li{
	/*display:table-cell;
    position:relative;
    text-align:center;
    
    cursor:-webkit-grab;
    color:#efefef;
    vertical-align:middle;*/
    cursor:grab;
}

/*for scroll tabs*/
.scroll-disable {
    color: #E3E1E1 !important;
}

.scroller {
  text-align:center;
  cursor:pointer;
/ / display: none;
  padding:5px;
  padding-top:10px;
  padding-bottom: 10px;
  white-space:no-wrap;
  vertical-align:middle;
  background-color:#fff;
  width:25px;
}

.scroller-right{
  float:right;
  -webkit-box-shadow: -5px 0px 5px -4px #616161;
  box-shadow: -5px 0px 5px -4px #616161;
  position: inherit;
  z-index: 2;
  background: white;
  color:#2d4259;
}

.scroller-left {
  float:left;
  -webkit-box-shadow: 5px 0px 5px -4px #616161;
  box-shadow: 5px 0px 5px -4px #616161;
  position: inherit;
  z-index: 2;
  background: white;
  color:#2d4259;
}

.without-panel .scroller {
    margin-top: 20px;
}
.modal-open .modal {
    overflow-x: visible !important;
    overflow-y: visible !important; 
}

.modal-open .modal .tooltips, .modal-open .modal .tooltip {}
	z-index: 500000
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #364F6A;
    border-color: #364F6A;
}

.pagination > li > a:focus, .pagination > li > a:hover, .pagination > li > span:focus, .pagination > li > span:hover {
    z-index: 2;
    color: #364F6A;
    background-color: #eee;
    border-color: #ddd;
}

.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary, .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary {
    color: #fff;
    background: #364F6A !important;
}

table.dataTable {
    width: 100% !important;
}

thead input {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    font-weight: normal;
    font-style: italic;
    font-size: 10px;
}

.spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -50px; /* half width of the spinner gif */
    margin-top: -50px; /* half height of the spinner gif */
    text-align:center;
    z-index:1234;
    overflow: auto;
    width: 100px; /* width of the spinner gif */
    height: 102px; /*hight of the spinner gif +2px to fix IE8 issue */
}

.table-th{
	text-transform: capitalize;
}

.dashboard {
	font-size: 12px !important;
}
.dataTable tbody tr td:last-child {
	overflow:visible !important;
}

/* -- Circle Tiles */

.circle-tile {
    margin-bottom: 15px;
    text-align: center;
}

.circle-tile-heading {
    position: relative;
    width: 60px;
    height: 60px;
    margin: 0 auto -30px;
    border: 3px solid rgba(255,255,255,0.3);
    border-radius: 100%;
    color: #fff;
    transition: all ease-in-out .3s;
}

.circle-tile-heading .fa {
    line-height: 55px;
}

.circle-tile-content {
    padding-top: 40px;
}

.circle-tile-number {
    padding: 5px 0 15px;
    font-size: 30px;
    font-weight: 700;
    line-height: 1;
}

.circle-tile-description {
    text-transform: uppercase;
}

.circle-tile-footer {
    display: block;
    padding: 5px;
    color: rgba(255,255,255);
    background-color: rgba(0,0,0,0.1);
    transition: all ease-in-out .3s;
}

.circle-tile-footer:hover {
    text-decoration: none;
    color: rgba(255,255,255,0.5);
    background-color: rgba(0,0,0,0.2);
}

.circle-tile-heading.dark-blue:hover {
    background-color: #2e4154;
}

.circle-tile-heading.green:hover {
    background-color: #138f77;
}

.circle-tile-heading.orange:hover {
    background-color: #da8c10;
}

.circle-tile-heading.blue:hover {
    background-color: #2473a6;
}

.circle-tile-heading.red:hover {
    background-color: #cf4435;
}

.circle-tile-heading.purple:hover {
    background-color: #7f3d9b;
}

.text-faded {
    color: rgba(255,255,255);
}

.box-dark-blue {
    background-color: #34495e;
}

.box-green {
    background-color: #16a085;
}

.box-blue {
    background-color: #2980b9;
}

.box-light-blue {
    background-color: #42a5f5;
}

.box-orange {
    background-color: #f39c12;
}

.box-red {
    background-color: #e74c3c;
}

.box-purple {
    background-color: #8e44ad;
}

.box-dark-gray {
    background-color: #7f8c8d;
}

.box-gray {
    background-color: #95a5a6;
}

.box-light-gray {
    background-color: #bdc3c7;
}

.box-yellow {
    background-color: #f1c40f;
}


.box-dark-blue {
    background-color: #1565C0;
}

.box-darker-blue {
    background-color: #0D47A1;
}

.box-blue {
    background-color: #1976D2;
}

.box-light-blue {
    background-color: #2196F3;
}

.box-lighter-blue {
    background-color: #64B5F6;
}

.section-header h2{
	margin-top: 0;
	font-size: 18px;
	color: #666;
}

.section-header hr{
	border: 1px solid  #cebfbf;
}

.canvas.doughnut { 
	margin: 0 auto;
};

.kv-avatar.asset .file-preview-frame img, .kv-avatar.part .file-preview-frame img{
	width:auto!important;
	max-height: 160px !important
}

.kv-avatar.asset .file-input, .kv-avatar.part .file-input{
	display:block
}

.kv-avatar.asset  .file-preview-frame, .kv-avatar.part .file-preview-frame{
	float: none !important;
	display: block;
}

.kv-file-content img{
	height: 160px !important
}

.wrapper {    
    margin:0 auto;
    overflow:hidden;
	margin-left: 25px;
	margin-right: 25px;  	
}

.custom-total{
	padding-top: 8px;
	font-weight: bold !important;

}

#btn-update-meter-reading{
	float: right;
	margin-top: 10px;
}
/**custom validation alert**/
.custom-alert{
	padding: 5px !important;
	margin-bottom: 4px !important;
	    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome*/
    -o-animation: fadein 2s; /* Opera */
}
.custom-alert-icon{
	float: left;
	padding-top: 2px;
	padding-left: 2px;
	padding-right: 4px
	
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

    .ui-autocomplete {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    display: none;
    min-width: 160px;   
    padding: 4px 0;
    margin: 0 0 10px 25px;
    list-style: none;
    background-color: #ffffff;
    border-color: #ccc;
    border-color: rgba(0, 0, 0, 0.2);
    border-style: solid;
    border-width: 1px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    *border-right-width: 2px;
    *border-bottom-width: 2px;
}

.ui-menu-item > a.ui-corner-all {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #555555;
    white-space: nowrap;
    text-decoration: none;
}

.ui-state-hover, .ui-state-active {
    color: #ffffff;
    text-decoration: none;
    background-color: #0088cc;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    background-image: none;
}

.right{
	text-align: right
}
