<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" class="no-js">

<head th:include="template/commoncss :: commoncss"></head>

<body class="login example2">

    <div class="main-login col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
        
        <div class="logo">SK International</div>

        <div class="box-login">
        
            <h3>Sign in to your account</h3>
            <p>Please enter your name and password to log in.</p>
      
            <form class="form-login" th:action="@{/login}" method="post">
	            <div th:if="${param.invalid != null}">
	                <div class="errorHandler alert alert-danger ">
	                	 <i class="fa fa-times-sign"></i>Invalid username and password.
	                </div>
	            </div>
	            <div th:if="${param.logout != null}">
	            	<div class="successHandler alert alert-success">
	                	 <i class="fa fa-ok"></i>You have been logged out successfully.
	                </div>
	            </div>
	            <div th:if="${param.expired != null}">
	            	<div class="errorHandler alert alert-danger ">
                        <i class="fa fa-times-sign"></i> Session Expired. Please Login Again.
	                </div>
	            </div>

                <fieldset>
                    <div th:replace="template/messageview :: message"></div>
                    <div class="form-group">
	                   <span class="input-icon">
	                       <input type="text" class="form-control" name="username" id="username" placeholder="Username">
	                       <i class="fa fa-user"></i>
	                   </span>
	               </div>
	               <div class="form-group form-actions">
	                   <span class="input-icon">
	                       <input type="password" class="form-control password" id="password" name="password" placeholder="Password">
	                       <i class="fa fa-lock"></i>
                           <a class="forgot" th:href="@{/resetPassword/}">
                                I forgot my password
                           </a>
	                   </span>
	               </div>
	               <div class="form-actions">
                       <label for="remember" class="checkbox-inline">
                           <input type="checkbox" class="grey remember" id="remember" name="remember">
                           <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/> Keep me signed in
                        </label>
	                   <button type="submit" class="btn btn-bricky pull-right">
	                       Login <i class="fa fa-arrow-circle-right"></i>
	                   </button>
	               </div>
	            </fieldset>
            </form>
        </div>

        <!-- start: COPYRIGHT -->
        <div class="copyright">
            <script>
                document.write(new Date().getFullYear())
            </script> &copy; by Matrix (pvt) Ltd.
        </div>
        <!-- end: COPYRIGHT -->
    </div>
    
    <div th:include="template/commonjs :: commonjs"></div>

    <script type="text/javascript" th:src="@{/resources/script/libs/jquery.validate.min.js}"></script>

    <script type="text/javascript" th:src="@{/resources/script/app/login.js}"></script>

    <script>
    
        jQuery(document).ready(function() {
            Main.init();
            Login.init();
        });
        
    </script>

</body>
</html>
