<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" class="no-js">

<head th:include="template/commoncss :: commoncss"></head>

<body class="login example2">
	<div class="main-login col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
		
		<div class="logo">SK International</div>

        <div class="box-register">
            <p>
                Enter your new password
            </p>
            <form id="form-reset" th:action="@{/resetPassword/updatePassword}" method="POST" role="form" th:object="${credentialDTO}">
                <fieldset>
                    <div th:replace="template/messageview :: message"></div>
                    
                    <input type="hidden" id="id" name="id" th:field="*{id}"/>
                    <input type="hidden" id="userId" name="userId" th:field="*{userId}"/>
                    <input type="hidden" id="userName" name="userName" th:field="*{userName}"/>
                    <input type="hidden" id="version" name="version" th:field="*{version}"/>
                    
                    <div class="form-group">
                        <span class="input-icon">
                            <input type="password" class="form-control" id="password" name="password"
                                   placeholder="Password" th:field="*{password}">
                            <i class="fa fa-lock"></i>
                        </span>
                    </div>
                    <div class="form-group">
                        <span class="input-icon">
                            <input type="password" class="form-control" name="password_again"
                                   placeholder="Password Again">
                            <i class="fa fa-lock"></i>
                        </span>
                    </div>
                    <div class="form-group">
                        <div>
                            <label for="agree" class="checkbox-inline">
                                <input type="checkbox" class="grey agree" id="agree" name="agree">
                                I agree to the Terms of Service and Privacy Policy
                            </label>
                        </div>
                    </div>
                    <div class="form-actions">
                        <a th:href="@{/login}" class="btn btn-light-grey go-back">
                            <i class="fa fa-circle-arrow-left"></i> Back
                        </a>
                        <button type="submit" class="btn btn-bricky pull-right">
                            Submit <i class="fa fa-arrow-circle-right"></i>
                        </button>
                    </div>
                </fieldset>
            </form>
        </div>
        
        <div class="copyright">
            <script>
                document.write(new Date().getFullYear())
            </script> &copy; Matrix (pvt) Ltd
        </div>
        <!-- end: COPYRIGHT -->
	</div>

	<div th:include="template/commonjs :: commonjs"></div>

    <script type="text/javascript" th:src="@{/resources/script/libs/jquery.validate.min.js}"></script>

    <script type="text/javascript" th:src="@{/resources/script/app/reset-password.js}"></script>

	<script>
		jQuery(document).ready(function() {
			Main.init();
            ResetPassword.init();
		});
	</script>

</body>
</html>