<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" class="no-js">

<head th:include="template/commoncss :: commoncss"></head>

<body class="login example2">

<div class="main-login col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">

    <div class="logo">SK International</div>

    <!-- start: FORGOT BOX -->
    <div class="box-forgot">
        <h3 class="sign-in">Forget Password?</h3>
        <p>
            Enter your e-mail address below to reset your password.
        </p>

        <form class="form-forgot" id="resetForm" role="form" th:action="@{/resetPassword/sendEmail}" method="post">
            <fieldset>
                <div th:replace="template/messageview :: message"></div>
                <div class="form-group">
                        <span class="input-icon">
                            <input type="email" class="form-control" name="email" placeholder="Email">
                            <i class="fa fa-envelope"></i>
                        </span>
                </div>

                <div class="form-actions">
                    <a th:href="@{/login}" class="btn btn-light-grey go-back">
                        <i class="fa fa-circle-arrow-left"></i> Back
                    </a>
                    <button type="submit" class="btn btn-bricky pull-right">
                        Submit <i class="fa fa-arrow-circle-right"></i>
                    </button>
                </div>
            </fieldset>
        </form>
    </div>
    <!-- end: FORGOT BOX -->

    <!-- start: COPYRIGHT -->
    <div class="copyright">
        <script>
            document.write(new Date().getFullYear())
        </script> &copy; Matrix (pvt) Ltd
    </div>
    <!-- end: COPYRIGHT -->
</div>

<div th:include="template/commonjs :: commonjs"></div>
<script type="text/javascript" th:src="@{/resources/script/libs/jquery.validate.min.js}"></script>

<script type="text/javascript" th:src="@{/resources/script/app/send-email-password.js}"></script>

<script>
    jQuery(document).ready(function () {
        Main.init();
        SendEmailPassword.init();
    });
</script>

</body>
</html>
