<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.springframework.org/security/tags" xmlns:th="http://www.thymeleaf.org" class="no-js">

<head th:include="template/commoncss :: commoncss"></head>
<link type="text/css" rel="stylesheet" th:href="@{/resources/style/select2.css}"/>
<link type="text/css" rel="stylesheet" th:href="@{/resources/style/bootstrap-modal-bs3patch.css}"/>
<link type="text/css" rel="stylesheet" th:href="@{/resources/style/bootstrap-modal.css}"/>
<link type="text/css" rel="stylesheet" th:href="@{/resources/style/bootstrap-datepicker.min.css}"/>
<link type="text/css" rel="stylesheet" th:href="@{/resources/style/dataTables.bootstrap.css}" />
<link type="text/css" rel="stylesheet" th:href="@{/resources/style/bootstrap-switch.css}"/>


<body>

<!-- start: HEADER -->
<div class="navbar navbar-inverse navbar-fixed-top" th:replace="template/commonheader :: commonheader"></div>
<!-- end: HEADER -->

<!-- start: MAIN CONTAINER -->
<div class="main-container">
    <div class="navbar-content">

        <!-- start: SIDEBAR -->
        <div class="main-navigation navbar-collapse collapse">

            <!-- start: MAIN MENU TOGGLER BUTTON -->
            <div class="navigation-toggler">
                <i class="clip-chevron-left"></i> <i class="clip-chevron-right"></i>
            </div>
            <!-- end: MAIN MENU TOGGLER BUTTON -->

            <!-- start: MAIN NAVIGATION MENU -->
            <ul class="main-navigation-menu" th:replace="template/menu :: menu"></ul>
        </div>
        <!-- end: SIDEBAR -->
    </div>

		<!-- start: PAGE -->
		<div class="main-content">
        	
        	<div class="container">
        	
			<div class="row" th:replace="sale/vehicle/page-header :: pageheader"></div>

            <div class="btn-bar row">
            
                <a class="btn btn-default btn-sm active tooltips" id="new" th:href="@{/vehicle-sale/add}" data-placement="top"
                   sec:authorize="hasAnyAuthority('ADMIN_LEVEL', 'GENERAL_LEVEL')"
                   data-original-title="Add"> <i class="clip-plus-circle-2  btn-new"></i> New
                </a>
                <a class="btn btn-default btn-sm active tooltips" id="save" data-placement="top" data-original-title="Save"
                   sec:authorize="hasAnyAuthority('ADMIN_LEVEL', 'GENERAL_LEVEL')"
                   onclick="document.getElementById('saleAddBtn').click();"> <i class="clip-checkmark-circle-2 btn-save"></i> Save
                </a>
                <a class="btn btn-default btn-sm active tooltips" id="delete" th:href="@{/vehicle-sale/delete(id=${vehicleSale.id})}"
                   sec:authorize="hasAnyAuthority('ADMIN_LEVEL', 'GENERAL_LEVEL')" th:disabled="${vehicleSale.id} == null ? 'disabled'" 
                   data-placement="top" data-original-title="Delete"> <i class=" clip-cancel-circle-2 btn-delete"></i> Delete
                </a>
                <a class="btn btn-default btn-sm active tooltips" id="cancel" th:href="@{/vehicle-sale/}" data-placement="top"
                   data-original-title="Back"> <i class="clip-arrow-left-2 "></i> Cancel
                </a>

            </div>

            <!-- start: PAGE CONTENT -->
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">

                        <div class="panel-heading">
                            <i class="clip-user"></i> Vehicle / Machine Sale
                        </div>
                        <div class="panel-body">

                            <div th:replace="template/messageview :: message"></div>                   			

                            <form method="POST" th:action="@{/vehicle-sale/save}" th:object="${vehicleSale}" id="vehicle-sale-form">
                                
                                <input type="hidden" th:field="*{id}" />
                                <input type="hidden" th:field="*{version}"/>
                                
                                <div class="row">
                                    <div class="col-md-6">
										<div class="form-group">
                                            <label class="control-label"> Date </label>
											<div class="input-group" id="picker-container">
												<input th:field="*{date}" type="text" data-date-format="dd-mm-yyyy" data-date-viewmode="years" class="form-control date-picker" placeholder="Eg : 08-01-2020" >
                                                   <span class="input-group-addon"> <i class="fa fa-calendar"></i> </span>
											</div>
										</div>
									</div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label"> Supplier <span class="symbol required"></span> </label>
                                            <input type="text" placeholder="Eg: Peter" th:field="*{supplierName}" class="form-control">
                                        </div>
                                    </div>
                                </div>
								<div class="row">
                                    <div class="col-md-6">
							            <div class="form-group">
							                <label class="control-label"> Vehicle / Machine <span class="symbol required"></span> </label>
							                <input type="text" placeholder="Eg: Toyota Prius" th:field="*{itemName}" class="form-control">
							            </div>
							        </div>
                                  	<div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label"> Chassis No <span class="symbol required"></span></label>
                                            <input type="text" th:field="*{chassisNo}" placeholder="Eg: NGX50 - 1234568" class="form-control"></textarea>
                                        </div>
                                    </div>
                                </div>
								<div class="row">
							        <div class="col-md-6">
							        	<div class="form-group">
                                            <label class="control-label"> Purchased Date <span class="symbol required"></span> </label>
											<div class="input-group" id="picker-container">
												<input th:field="*{paymentDate}" type="text" data-date-format="dd-mm-yyyy" data-date-viewmode="years" class="form-control date-picker" placeholder="Eg : 08-01-2020" >
                                                   <span class="input-group-addon"> <i class="fa fa-calendar"></i> </span>
											</div>
										</div>
							        </div>
							        <div class="col-md-6">
							            <div class="form-group">
							                <label class="control-label"> Purchased Amount <span class="symbol required"></span> </label>
							                <input type="text" th:field="*{purchasedAmount}" placeholder="Purchased Amount" class="form-control"></textarea>
							            </div>
							        </div>
							    </div>
							    <div class="row">
							        <div class="col-md-6">
							            <div class="form-group">
							                <label class="control-label"> Tax Amount </label>
							                <input type="text" th:field="*{taxAmount}" placeholder="Tax Amount" class="form-control"></textarea>
							            </div>
							        </div>
							        <div class="col-md-6">
							            <div class="form-group">
							                <label class="control-label"> Total Amount </label>
							                <input type="text" th:field="*{totalAmount}" placeholder="Total Amount" class="form-control"></textarea>
							            </div>
							        </div>
							    </div>
							    <div class="row">
							        <div class="col-md-6">
							            <div class="form-group">
							                <label class="control-label"> Customer Name </label>
							                <input type="text" th:field="*{customerName}" placeholder="Customer Name" class="form-control"></textarea>
							            </div>
							        </div>
							        <div class="col-md-6">
							            <div class="form-group">
                                            <label class="control-label"> Selling Date </label>
											<div class="input-group" id="picker-container">
												<input th:field="*{sellingDate}" type="text" data-date-format="dd-mm-yyyy" data-date-viewmode="years" class="form-control date-picker" placeholder="Eg : 08-01-2020" >
                                                <span class="input-group-addon"> <i class="fa fa-calendar"></i> </span>
											</div>
										</div>
							        </div>
							    </div>
							    <div class="row">
							        <div class="col-md-6">
							            <div class="form-group">
							                <label class="control-label"> Selling Amount </label>
							                <input type="text" th:field="*{sellingAmount}" placeholder="Selling Amount" class="form-control"></textarea>
							            </div>
							        </div>
							        <div class="col-md-6">
							            <div class="form-group">
                                            <label class="control-label"> Bank Deposit Date </label>
											<div class="input-group" id="picker-container">
												<input th:field="*{bankDepositDate}" type="text" data-date-format="dd-mm-yyyy" data-date-viewmode="years" class="form-control date-picker" placeholder="Eg : 08-01-2020" >
                                                <span class="input-group-addon"> <i class="fa fa-calendar"></i> </span>
											</div>
										</div>
							        </div>
							    </div>
							    <div class="row">
							        <div class="col-md-6">
							            <div class="form-group">
							                <label class="control-label"> Bank Deposit Amount </label>
							                <input type="text" th:field="*{bankDepositAmount}" placeholder="Bank Deposit Amount" class="form-control"></textarea>
							            </div>
							        </div>
							        <div class="col-md-6">
							            <div class="form-group">
							                <label class="control-label"> Bank Commission Amount </label>
							                <input type="text" th:field="*{bankCommisionAmount}" placeholder="Bank Commision Amount" class="form-control"></textarea>
							            </div>
							        </div>
							    </div>
							    <div class="row">
							        <div class="col-md-6">
							            <div class="form-group">
                                            <label class="control-label"> Cash Deposit Date </label>
											<div class="input-group" id="picker-container">
												<input th:field="*{cashDepositDate}" type="text" data-date-format="dd-mm-yyyy" data-date-viewmode="years" class="form-control date-picker" placeholder="Eg : 08-01-2020" >
                                                <span class="input-group-addon"> <i class="fa fa-calendar"></i> </span>
											</div>
										</div>
							        </div>
							        <div class="col-md-6">
							            <div class="form-group">
							                <label class="control-label"> Cash Deposit Amount </label>
							                <input type="text" th:field="*{cashDepositAmount}" placeholder="Cash Deposit Amount" class="form-control"></textarea>
							            </div>
							        </div>
							    </div>
							    <div class="row">
							        <div class="col-md-6">
							            <div class="form-group">
                                            <label class="control-label"> Repair Date </label>
											<div class="input-group" id="picker-container">
												<input th:field="*{repairDate}" type="text" data-date-format="dd-mm-yyyy" data-date-viewmode="years" class="form-control date-picker" placeholder="Eg : 08-01-2020" >
                                                <span class="input-group-addon"> <i class="fa fa-calendar"></i> </span>
											</div>
										</div>
							        </div>
							        <div class="col-md-6">
							            <div class="form-group">
							                <label class="control-label"> Repair Charge Amount </label>
							                <input type="text" th:field="*{repairChargeAmount}" placeholder="Repair Charge Amount" class="form-control"></textarea>
							            </div>
							        </div>
							    </div>
							     <div class="row">
							        <div class="col-md-6">
							            <div class="form-group">
							                <label class="control-label"> Recycle Charge Amount </label>
							                <input type="text" th:field="*{recycleChargeAmount}" placeholder="Recycle Charge Amount" class="form-control"></textarea>
							            </div>
							        </div>
							        <div class="col-md-6">
							            <div class="form-group">
                                            <label class="control-label"> Is Sold </label>
                                            <div>
                                                <input id="isSold" type="checkbox" data-size="small" th:field="*{isSold}" >
                                            </div>
                                        </div>
							        </div>
							    </div>
                                <div class="row" style="visibility: hidden;">
                                    <button id="saleAddBtn" type="submit"></button>
                                </div>
                        	</form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
<!-- end: PAGE -->
<!-- end: MAIN CONTAINER -->

<!-- start: FOOTER -->
<div class="row" th:replace="template/footer :: footer"></div>
<!-- end: FOOTER -->

<!-- start: MAIN JAVASCRIPTS -->
<div th:include="template/commonjs :: commonjs"></div>
<!-- end: MAIN JAVASCRIPTS -->


<!-- start: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
<script type="text/javascript" th:src="@{/resources/script/libs/jquery.validate.min.js}"></script>
<script type="text/javascript" th:src="@{/resources/script/libs/bootstrap-switch.js}"></script>
<script type="text/javascript" th:src="@{/resources/script/libs/select2.min.js}"></script>
<script type="text/javascript" th:src="@{/resources/script/libs/bootstrap-modal.js}"></script>
<script type="text/javascript" th:src="@{/resources/script/libs/bootstrap-datepicker.min.js}"></script>
<script type="text/javascript" th:src="@{/resources/script/libs/bootstrap-modalmanager.js}"></script>
<script type="text/javascript" th:src="@{/resources/script/libs/jquery.spring-friendly.js}"></script>
<script type="text/javascript" th:src="@{/resources/script/libs/moment.min.js}"></script>
<script type="text/javascript" th:src="@{/resources/script/libs/jquery.dataTables.js}"></script>
<script type="text/javascript" th:src="@{/resources/script/libs/dataTables.bootstrap.min.js}"></script>

<script type="text/javascript" th:src="@{/resources/script/app/util/focus-validation-util.js}"></script>
<script type="text/javascript" th:src="@{/resources/script/app/util/common-component-util.js}"></script>
<script type="text/javascript" th:src="@{/resources/script/app/util/focus-button-util.js}"></script>

<script type="text/javascript" th:src="@{/resources/script/app/sale/vehicle/init.js}"></script>
<script type="text/javascript" th:src="@{/resources/script/app/sale/vehicle/add-view.js}"></script>

<!-- end: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->

</body>
</html>

