<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<div class="row" th:fragment="pageheader">
    <div class="col-sm-12">
        <!-- start: PAGE TITLE & BREADCRUMB -->
        <ol class="breadcrumb" >
            <li><i class="clip-home-3"></i> <a th:href="@{/}">Home</a></li>
            <li>Sale</li>
            <li class="active">Vehicle</li>
		</ol>
        <!-- end: PAGE TITLE & BREADCRUMB -->
    </div>
</div>